BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 150
SortIncludes: false
Cpp11BracedListStyle: false
BreakBeforeBinaryOperators: All
PointerAlignment: Left
ReferenceAlignmentStyle: Left
AllowShortFunctionsOnASingleLine: false